{
	email {$CADDY_EMAIL:admin@port-vale.co.uk}
}

{$SITE_DOMAIN} {
	encode zstd gzip

	handle /static/* {
		root * /srv
		header Cache-Control "public, max-age=604800, immutable"
		file_server
	}

	@standalone_assets path_regexp ^/standalone/.*\.(js|css|png|jpe?g|webp|svg|json|woff2?|map)$
	handle @standalone_assets {
		root * /srv
		header Cache-Control "public, max-age=604800, immutable"
		file_server
	}

	handle {
		reverse_proxy hub:8000
	}
}
